<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>Edit Patient</title>
    <link rel="stylesheet" href="/webjars/bootstrap/5.3.5/css/bootstrap.min.css">
</head>
<body>
    <div layout:fragment="content1">
        <div class="col-6">
        <form method="post" th:action="@{save}">
            <table class="table">
                <tr>
                    <td>
                        <div>
                            <label for="id">ID:</label>
                            <label th:text="${patient.id}"></label>
                            <input class="form-control" type="hidden" id="id" name="id" th:value="${patient.id}">

                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="nom">Nom</label>
                            <input class="form-control" type="text" id="nom" name="nom" th:value="${patient.nom}">
                            <span  class="text-danger" th:errors="${patient.nom}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="dateNaiss">Date Naissance</label>
                            <input class="form-control" type="date" id="dateNaiss" name="dateNaiss" th:value="${#temporals.format(patient.dateNaiss, 'yyyy-MM-dd')}">
                            <span  class="text-danger" th:errors="${patient.dateNaiss}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="malade">Malade</label>
                            <input type="checkbox" id="malade" name="malade" th:checked="${patient.malade}">
                            <span  class="text-danger" th:errors="${patient.malade}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <label for="score">Score</label>
                            <input class="form-control" type="text" id="score" name="score" th:value="${patient.score}">
                            <span  class="text-danger" th:errors="${patient.score}"></span>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div>
                            <button class="btn btn-primary" type="submit" >Save</button>
                        </div>
                    </td>
                </tr>
            </table>
        </form>
        </div>
    </div>
</body>
</html>